<div>
  <h2 class="text-center mt-5">Actualités du jour</h2>
</div>
<div class="container py-5 ">
  <div class="row">
      <div class="col-md-4 col-lg-3 my-3 d-flex align-items-stretch" *ngFor="let item of newsService.newsArticles | slice:0:4">
        <div class="card">
              <img [src]="item.thumbnail" class="card-img-top img-fluid img-thumbnail">
              <div class="card-body">
                  <div class="card-title text-capitalize">
                      <h5>{{item.webTitle}}</h5>
                  </div>
                  <p class="card-text">
                      {{ (item.trailText | slice:0:100 ) +'..' }}
                  </p>
                  <div class="d-flex justify-content-left mt-3">
                      <p class="badge badge-light mr-3">{{item.webPublicationDate | date}}</p>
                      <p class="badge badge-light ">{{item.sectionId}}</p>
                  </div>

              </div>
              <div class="card-footer bg-secondary d-flex justify-content-end">

                  <a [href]="item.webUrl" class="btn btn-dark" target="_blank">
                      <i class="fa fa-book mr-1"></i>Read More
                  </a>
              </div>
          </div>
      </div>
  </div>
 </div>
