<form [formGroup]="formAuthentification" (ngSubmit)="onSubmit()" class=centrage>
    <img src="assets/img/logo.jpg" class="image" alt="image" />
        <p>Saisissez votre e-mail pour vous connecter</p>
            <div>
                <app-alert></app-alert>
            </div>
        <div class="input-group mb-2 ">
            <input type="email" formControlName="username" class="form-control" placeholder="Email"
                [ngClass]="{ 'is-invalid': submitted && formAuthentification.controls.username.errors }" />
            <div *ngIf="submitted && formAuthentification.controls.username.errors" class="invalid-feedback">
                <div *ngIf="formAuthentification.controls.username.errors.required">Un Email est exigé</div>
                <div *ngIf="formAuthentification.controls.username.errors.email">Email non Valide</div>
        </div>
    </div>
        <div class="input-group mb-1">
            <input [type]="show ? 'text' : 'password'" formControlName="password" class=" form-control"
                placeholder="Mot de passe"
                [ngClass]="{ 'is-invalid': submitted && formAuthentification.controls.password.errors }">
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2">
                            <span class="bi bi-eye"(click)="changetype()"></span>
                        </span>
                    </div>
                <div *ngIf="submitted && formAuthentification.controls.password.errors" class="invalid-feedback">
                <div *ngIf="formAuthentification.controls.password.errors.required">Un Mot de passe est exigé</div>
            </div>
        </div>
    <button class="w-100 btn btn-lg btn-sub" type="submit">Connexion</button>
    <button class="w-100 btn btn-lg btn-sub" type="button" routerLinkActive="active" routerLink="/signin">Créer un Compte</button>
</form>
