<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mt-5 mx-auto">
<div><h3 class="display-4 text-center">Contacter les ressources humaines</h3></div>
<form [formGroup]="contactForm" class="center">
    <div class="form-group">
      <label for="exampleFormControlInput1">Email</label>
      <input type="email" formControlName="username" class="form-control" id="exampleFormControlInput1">
    </div>
    <div class="form-group">
      <label for="object">Objet</label>
      <select class="form-control" formControlName="objet" id="object">
        <option value="" disabled selected hidden>Sujet de la demande</option>
        <option *ngFor="let item of objets">{{item.label}}</option>
      </select>
    </div>
    <div class="form-group">
      <label>Votre message</label>
      <textarea class="form-control" rows="6"></textarea>
    </div>
    <button class="w-10 btn btn-lg btn-outline-secondary" type="submit">Envoyer</button>
  </form>
</div>
